a{text-decoration:none;}
body div{
	
	height: auto;
	border: 1px solid black;
	position: relative;	
}

.but{
    text-align: center;
    vertical-align: middle;  
    padding: 10%;
    font-size: 30px;
	color: red;	
󠀴󠀴}󠀴󠀴

󠁂󠁵