body div{
	
height: auto;
	border: 1px solid black;
	
	
	
}
html, body{
	
	
	background-color: lightgray;
}
body a div {
   
    text-align: center;
    vertical-align: middle;
    
    padding: 30%;
    font-size:  30px;
	font-style: Tahoma;
	color: red;
	
󠀴󠀴}󠀴󠀴

a{text-decoration:none}󠁂󠁵