/* Navigation bar buttons. Include in every html App file*/
nav button {	
background-image: -moz-linear-gradient(rgba(151, 151, 151, 0.9) 0%, rgba(74, 74, 74, 0.3) 95%);
float: left;
display: inline;
height: 9.5%;
width: 20%;
border-radius: 3px;
box-shadow: 3px 3px 2px #4a4a4a;
box-shadow: -3px -3px 2px #4a4a4a;

}
nav {
	border: 2px solid black ;
	background-image: -moz-linear-gradient(top,#979797, #4a4a4a);
	width: 100%;
	height: 10%;
	
	
}
textarea {
	width: 100%;
	border: 2px black solid;
	
}

#searchSubmit{
	padding: 10px 20px;
    border-radius: 5px;
    display: block;
    width: 130px;
    margin: 10px auto 0px auto;
    height: 25%;
}

